# SPDX-FileCopyrightText: 2014-2024 CERN.
# SPDX-License-Identifier: BSD-3-Clause

include *.py *.sh
include .coveragerc .travis.yml pytest.ini run-tests.sh
include .editorconfig
include README.rst CHANGES.rst CONTRIBUTING.rst AUTHORS LICENSE MANIFEST.in
include docs/*.rst docs/*.py docs/Makefile docs/requirements.txt
include tests/*.py
recursive-include flask_iiif *.py
recursive-include .github/workflows *.yml
include .git-blame-ignore-revs
